body{
    background-color: rgb(80, 232, 232);
    font-style: italic;
}
.code{
    width: 500px;
    height: 400px;
}
section{
    width: 600px;
    height: 2000px;
    background-color: azure;
    float: right;
}