body{
    background: linear-gradient(to right,
    red, yellow);
}
.eanzo{
    width: 200px;
    height: 100px;
}
section{
    width: 500px;
    height: 1500px;
    float: right;
    align-items: center;
}
button{
    margin: 20px;
    padding: 10px;
    background-color: rgb(41, 26, 2);
    color: aliceblue;
    border-radius: 50px;

}
footer{
    margin: 20px;
}